body{
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif,sans-serif;
  /* font-size: 200%; */
}
.top-container{
  position :relative;
  background-color: #ebc7ae;
  margin:0 auto;
  padding-top:100px;
  padding-bottom:120px;
  opacity:1;
  /* height:500px; */
}
h1{
  margin:50px auto 0 auto;
  font-size:5.625rem;
  font-family: 'Sacramento', cursive,sans-serif,serif;
  color:#5aa897;
  /* line-height:2; */
  /* margin-bottom:0px; */
}
h2,h3{
  font-family: 'Montserrat', sans-serif,serif;
}
h2{
  font-size:1.8rem;
  color:#5aa897;
  font-weight: normal;
  /* line-height:2; */

}
h3{
  color:#11999E;

}
a{
  color:#11999E;
}
.middle-container{
  
}
.bottom-container{
  
}
.bottom-cloud{
  position:absolute;
  left:350px;
  bottom:310px;
}
.tree-left{
  position:absolute;
  /* left:400px; */
  width:320px;
  bottom:0px;
  height:250px;
  left:0;
  opacity:0.3;
  /* align:center; */
  /* margin:0 auto; */
  
}
.tree-right{
  position:absolute;
  right:0px;
  bottom:0px;
  width:320px;
  height:250px;
  opacity:0.3;
}
.top-left-cloud{
  position:absolute;
  top:60px;
  left:200px;
}
.leaf{
position:absolute;
bottom:10px;
right:0;
}
.forest{
position: absolute;
left:0;
bottom:0;
}
.top-cloud{
  position:absolute;
  right:350px;
  top:50px;
}
.underline{
  text-decoration: underline;
}
.circular{
  border-radius: 100%;
}
.mountain{
  position:relative;
  top:125px;
}
.skill-row{
  width:50%;
  margin: 0 auto;
}