body{
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif,sans-serif;
}
.top-container{
  position :relative;
  background-color: #ffd3b4;
  margin:0 auto;
  padding-top:100px;
  height:500px;
}
h1{
  margin-top:0px;
  font-family: 'Sacramento', cursive,sans-serif,serif;
  /* margin-bottom:0px; */
}
h2,h3{
  font-family: 'Montserrat', sans-serif,serif;
}
.middle-container{
  
}
.bottom-container{
  
}
.bottom-cloud{
  position:absolute;
  left:350px;
  bottom:340px;
}
.tree-left{
  position:absolute;
  /* left:400px; */
  width:400px;
  top:10px;
  left:0;
  opacity:0.1;
  /* align:center; */
  /* margin:0 auto; */
  
}
.tree-right{
  position:absolute;
  right:120px;
  bottom:60px;
  width:400px;
  opacity:0.1;
}
.top-left-cloud{
  position:absolute;
  top:60px;
  left:200px;
}
.leaf{
position:absolute;
bottom:10px;
right:0;
}
.forest{
position: absolute;
left:0;
bottom:0;
}
.top-cloud{
  position:absolute;
  right:350px;
  top:50px;
}
.underline{
  text-decoration: underline;
}
.circular{
  border-radius: 100%;
}
 .mountain{
 position: relative;
 top:130px;

} 